@model IEnumerable<MiniCore.Models.Informe>

<h1>Lista de Informes</h1>

<table class="table">
    <thead>
        <tr>
            <th>InformeId</th>
            <th>Fecha</th>
            <th>Resultado</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var informe in Model)
        {
            <tr>
                <td>@informe.InformeId</td>
                <td>@informe.Fecha</td>
                <td>@informe.Resultado</td>
                <td>@informe.Detalles</td>
            </tr>
        }
    </tbody>
</table>
